@charset "utf-8";
/* include <link type="text/css" rel="stylesheet" href="css.css"> to header for external css file*/
div {
    height: 200px;
    width: 200px;
    border: 4px solid red;
    font-weight: bolder;
    padding: 90px 1px 10px 1px;
    
}
body{
    background-image: url("photo-1560070687-c3176cd7ae6d.jpg")
}
h3{	width: 200px;
    height: 200px;
    border: 4px solid goldenrod;
    float: left;
}
h4{	width: 200px;
    height: 200px;
    border: 4px solid hotpink;
    outline-color: rgb(160, 0, 13);
    outline: 3px double;
    float: left;
}
div#deneme {
    height: 200px;
    width: 200px;
    border: 4px solid red;
    font-weight: bolder;
    float: left;
